@{ 
    Layout = null;
}
<div class="box">
    <div class="box-header">
        <h1>Welcome to</h1>
        <h3 class="box-title">FINANCE CALCULATOR</h3>
    </div>
</div>
@Html.Partial("_PremiumCalculator")
