@model Pharmix.Web.Models.SchedulerViewModels.SchedulerEntityDetail

<div class="form-horizontal col-sm-12" id="divEntityHistory">
    <div class="panel panel-primary">
        <div class="panel-heading">@Model.EntityText <sub>Appointment History</sub></div>
    </div>
    
    <input asp-for="EntityId" type="hidden" />

    <div class="form-group">
        <div class="col-sm-4">
            <input id="txtFromDate" type="date" class="form-control" placeholder="from date" />
        </div>
        <div class="col-sm-4">
            <input id="txtToDate" type="date" class="form-control" placeholder="to date" />
        </div>
        <a href="#" id="btnSearchHistory" class="btn btn-primary"><i class="fa fa-search"></i></a>
    </div>
    <div id="divEntityHistoryGrid">Loading results..</div>
</div>

<script>
    $("#divEntityHistory #btnSearchHistory").click(function () {
        var callback = function (response) {
            $("#divEntityHistoryGrid").html(response);
        };
        
        var req = { EntityId: $("#divEntityHistory #EntityId").val(), FromDate: $("#divEntityHistory #txtFromDate").val(), ToDate: $("#divEntityHistory #txtToDate").val()};
        Framework.Utility.ExecuteAjaxRequest("@Url.Action("EntityHistorySearch")", req, callback, null, 200);
        return false;
    });

    $(document).ready(function() {
        $("#divEntityHistory #btnSearchHistory").trigger("click");
    });

</script>